body {
    position: relative;
    margin: 0;
    top: 3em;
    left: 0;
    overflow: hidden;
}

#root {
    position: relative;
    text-align: center;
    color: white;
}

#welcome {
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    padding: 2rem;
}