body {
    background-color: #F2E2D2;
    font-family: 'Montserrat', sans-serif;
}

#root {
    position: relative;
    top: 3em;
    left: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#tops {
    grid-row: 1;
    grid-column: 1;
    text-align: left;
}

#sorter {
    grid-row: 1;
    grid-column: 3;
    text-align: right;
}

#blank {
    grid-row: 1;
    grid-column: 2;
}

figure {
    position: relative;
}

figure>img {
    width: 300px;
    height: 300px;
    opacity: 1;
}

figure>figcaption {
    text-align: center;
}

figure:hover img{
    opacity: 0.3;
}

figure:hover #center {
    opacity: 1;
}

#center {
    text-align: center;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transition: .5s linear;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#price {
    background-color: #18828b;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}